.login-page {
    background-image: url('../../public/assets/solo.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    margin-bottom: 20px;
}

.btn-block {
    width: 100%;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #fff;
    text-decoration: underline;
}

.social-login {
    margin-top: 20px;
}

.social-buttons .btn {
    margin: 5px;
    width: 100px;
}

.social-buttons .btn-primary {
    background-color: #3b5998;
    border: none;
}

.social-buttons .btn-info {
    background-color: #00aced;
    border: none;
}

.social-buttons .btn-secondary {
    background-color: #0077b5;
    border: none;
}

@media (max-width: 576px) {
    .login-container {
        padding: 20px;
    }

    .social-buttons .btn {
        width: 80px;
    }
}